/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body{
    height: 100vh;
    width: 100vw;
}

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 600px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 33.33%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.cell:not(.filled):hover {
    background-color: #eee;
}

.mini-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mini-board:not(.filled):hover {
    cursor: pointer;
    background-color: #eee;
}

.mini-board.filled {
    cursor: default;
}

.mini-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 33.33%;
}

.mini-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}